// Couleur section Header

$color-border: #000;
$color-nav-text: #000;
$color-li-hover: blue;

//==========================================================================//

// Couleur section ItemCountry

// Item container
$color-border-item: #00000017;
$color-boxShadow-item: #00000017;

// Image container
$color-border-img: #000;

// Region
$color-text-region: rgba(245, 79, 79, 0.74);

// Button
$bg-color-btn: rgba(245, 79, 79, 0.315);
$color-text-btn: rgba(245, 79, 79, 0.74);

// Button Hover
$bg-color-btn-hover: rgba(245, 79, 79, 0.884);
$color-text-btn-hover: #fff;

//==========================================================================//
