.header__container {
    display: flex;
    justify-content: space-between;
    padding: 10px 150px 10px 150px;
    height: 150px;
    border-bottom: 1px solid #000;
}

.logo__container {
    align-self: center;
}

.nav__container {
    display: flex;
    align-items: center;

    a {
        text-decoration: none;
        color: #000;
    }

    li {
        list-style: none;
        text-transform: uppercase;
        font-family: "Nunito-Bold";
        font-weight: 600;
        padding-right: 30px;

        &:hover {
            color: blue;
        }
    }


}